@charset "UTF-8";
/*!
 *   AdminLTE v4.0.0-beta3
 *   Author: Reino
 */

.sidebar-brand {
  /* background: #8a2d52;*/
}
.sidebar-brand .brand-link .brand-image
{
  max-height: 45px;
}
.opacity-75 {
  opacity: 1 !important;
}
.sidebar-wrapper a:hover {
 /* color:  #8a2d52 !important;*/
}
.app-main {
  margin-top: 20px;
}
.text-info {
  color: #333 !important;
}
.card-header {
  position: relative;
  padding: 1rem 1rem;
  background-color: #3b67f5 !important;
  border-bottom: 1px solid var(--bs-border-color-translucent);
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  color:#fff;
}
 h1, .h1 {
    font-size: 1.6rem;
    color: #3b67f5;
  }

.table thead th {
  font-weight: 600;
  background: #3b67f5;
  color: #fff;
}
.table-outer {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #dde2eb;
}
.table-striped > tbody > tr:hover > * {
  --bs-table-color-state: var(--bs-table-hover-color);
  --bs-table-bg-state: var(--bs-table-hover-bg);
}
.table-striped > tbody > tr:nth-of-type(2n+1) > * {
  --bs-table-color-type: none !important;
  --bs-table-bg-type: none !important;
}
.btn-success {
  background-color: #00a850;
  color: #fff;

}
.btn-success:hover {
  background-color: #3b67f5;
  color: #fff;
}
.btn-success-crear {
  background-color: #00a850;
  color: #fff;
  padding: 10px 26px;
}
.btn-success-crear:hover {
  background-color: #3b67f5;
  color: #fff;
}
.btn-editar {
   background-color: #3facff;
  color: #fff;
  border-color: #3facff;
}
.btn-editar:hover {
  background-color: #38487c;
   color: #fff;
   border-color: #38487c;
  }
  .btn-danger:hover {
  color: #fff;
  background-color: #ff4861;
  border-color: #ff4861;
}
.btn-danger:hover {
  color: #fff;
   background-color: #38487c;
  border-color: #38487c;
}

btn-aprobar-solicitud

.dataTables_info{
  color:#3b67f5;
}